/*Universal Selector*/
*{
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ID Selector: */

#superheroes{
    text-decoration: dotted;
    color: blue;
}

/* Class Selector */

.Super{
    color: orangered;
}

/* Element Selector: */

p{
    background-color: bisque;
}

/* Attribute Selector */